services:
  db:
    image: mysql:8.0
    container_name: mysql_db
    restart: always
    environment:
      - MYSQL_DATABASE=dbsu413
      - MYSQL_USER=admin
      - MYSQL_PASSWORD=admin1234
      - MYSQL_ROOT_PASSWORD=root_password
    ports:
      - "3306:3306"
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 10s
      timeout: 5s
      retries: 5

  product_api:
    build: .
    container_name: product_api_container
    ports:
      - "8080:8080"
    depends_on:
      db:
        condition: service_healthy
    restart: always